@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  padding: 4%;
  background-color:#161616;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
}

.pink {
  color: #eb64b9 !important;
}