@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  padding: 4%;
  background-color:#27212e;
  font-family: Inter, sans-serif;
  color: whitesmoke;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
}

.pink {
  color: #eb64b9 !important;
}

.card {
margin: 0.2rem;
padding: 1rem;
text-align: left;
color: inherit;
text-decoration: none;
background-color: #3e3647;
border-radius: 10px;
}

.card {
          /*box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 17px 50px 0 rgba(0, 0, 0, 0.50);*/
      }


.card p,
.card b {
margin: 0;
font-size: 1.25rem;
line-height: 1.5;
}

.cardGrid {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
max-width: 800px;
margin-top: 3rem;
}

.card {
  max-width: 300px !important;
}

h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}